templates/accounts/profile.jade
extends ./profile_layout.jade

block user_action_data
    .row
        .well.order-box
            .row
                .col-sm-4
                    button.btn.btn-danger.active.btn-sm(type="button" data-toggle="modal" data-target="#my_order") {% trans 'Order Online' %}
                | {% if is_employee %}
                .col-sm-4.text-sm-right
                    a.btn.btn-success.active.btn-sm(href="{% url 'all_orders' %}") {% trans 'All Orders' %}
                .col-sm-4.text-sm-right
                    a.btn.btn-warning.active.btn-sm(href="{% url 'employee_profile' %}") {% trans 'Employee' %}
                | {% else %}
                .col-sm-8.text-sm-right
                    a.btn.btn-warning.btn-sm(href="{% url 'employee_profile' %}?create=True") {% trans 'Become a GERO' %}
                | {% endif %}

    .row
        .col-sm-12
            h4 {% trans 'Open orders' %}
            .table-responsive
                table.table.table-hover
                    thead
                        tr
                            th {% trans 'Item' %}
                            th {% trans 'Price' %}
                            th {% trans 'City' %}
                            th {% trans 'Fee' %}
                            th {% trans 'Status' %}
                    tbody
                        | {% for order in current_orders %}
                        | {% if order.status == 0 %}
                        tr.clickable-row(data-href="{% url 'customer_order_process' order_id=order.display_hashid %}")
                            td {{ order.item }}
                            td {{ order.price }}
                            td {{ order.address_city }}
                            td {{ order.fee }}
                            td
                                | {% if order.status == 0 %}
                                img.img-responsive(src="{% static 'images/hourglass.svg' %}" height="40px" alt="Waiting for GERO")
                                | {% elif order.status == 1 %}
                                img.img-responsive(src="{% static 'images/home-delivering.svg' %}" height="40px" alt="Delivery in progress")
                                | {% elif order.status == 2 %}
                                img.img-responsive(src="{% static 'images/home-delivered.svg' %}" height="40px" alt="Delivery complete")
                                | {% endif %}
                        | {% else %}
                        tr.clickable-row(data-href="{% url 'customer_order_details' order_id=order.display_hashid %}")
                            td {{ order.item }}
                            td {{ order.price }}
                            td {{ order.address_city }}
                            td {{ order.fee }}
                            td
                                | {% if order.status == 0 %}
                                img.img-responsive(src="{% static 'images/hourglass.svg' %}" height="40px" alt="Waiting for GERO")
                                | {% elif order.status == 1 %}
                                img.img-responsive(src="{% static 'images/home-delivering.svg' %}" height="40px" alt="Delivery in progress")
                                | {% elif order.status == 2 %}
                                img.img-responsive(src="{% static 'images/home-delivered.svg' %}" height="40px" alt="Delivery complete")
                                | {% endif %}
                        | {% endif %}
                        | {% endfor %}

    hr
    .row
        .well.order-box
            .col-sm-12
                h4 {% trans 'Closed orders' %}
    | {% for order in orders %}
    .row
        .well.order-box
            .row
                .col-sm-2
                    p.order-details
                        a(href="{% url 'customer_order_details' order_id=order.display_hashid %}") ID: {{ order.display_hashid }}
                .col-sm-3
                    p.order-details {{ order.item }}
                .col-sm-2
                    p.order-details
                        a(href="#" title="{% trans 'Details' %}" data-toggle="popover" data-content="{% trans 'Price' %}: {{ order.price }}, {% trans 'Fee' %}: {{ order.fee }}") &euro; {{ order.get_total_charge }}
                .col-sm-2
                    | {% if order.status == 0 %}
                    img.img-responsive(src="{% static 'images/hourglass.svg' %}" height="40px" alt="Waiting for GERO")
                    | {% elif order.status == 1 %}
                    img.img-responsive(src="{% static 'images/home-delivering.svg' %}" height="40px" alt="Delivery in progress")
                    | {% elif order.status == 2 %}
                    img.img-responsive(src="{% static 'images/home-delivered.svg' %}" height="40px" alt="Delivery complete")
                    | {% endif %}
                .col-sm-3
                    p.order-details {{ order.created|date }}
    hr
    | {% endfor %}
    +pagination("{% url 'profile' %}")

block extra_js
    script.
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
        $(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.document.location = $(this).data("href");
            });
        });

templates/accounts/profile.html
<!DOCTYPE html>{% load staticfiles i18n cloudinary crispy_forms_tags crispy_forms_field humanize %}
{% get_current_language as LANGUAGE_CODE %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>{% cloudinary_includes %}
{% cloudinary_js_config %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="google-site-verification" content="K0n1HKCAoe4RBEcyo0jVEUPDiqzliwDNkT0kNvq6bek"><!--[if lte IE 8]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js">
      <noscript><strong>Warning!</strong>Your browser does not support HTML5 so some elements on this page are simulated using JScript. Unfortunately your browser has JScript disabled. Please enable it in order to display this page.</noscript>
    </script><![endif]-->
    <!--[if lte IE 6]><meta http-equiv="imagetoolbar" content="no" /><![endif]-->
    <title>Profile</title>
    <meta name="robots" content="index, follow">
    <link rel="apple-touch-icon" href="{% static 'images/logo.png' %}">
    <link rel="shortcut icon" href="{% static 'images/logo_pVn_icon.ico' %}" type="image/x-icon">
    <!-- Fonts-->
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
    <!-- CSS-->
    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/morphext.css' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <!-- JS-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'js/vendor/parallax.js' %}"></script>
    <!--script(src="{% static 'js/vendor/morphext.min.js' %}")-->
    <script src="{% static 'js/vendor/typed.min.js' %}"></script>
    <script src="{% static 'js/src/main.js' %}"></script>
  </head>
  <body>
    <nav class="navbar navbar-fixed-top">
      <div class="container-fluid">{% if success %}
        <div role="alert" class="alert alert-success alert-dismissable alert-hide">
          <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times</span></button>{{ success }}
        </div>{% endif %}
        {% if error %}
        <div role="alert" class="alert alert-danger alert-dismissable alert-hide">
          <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times</span></button>{{ error }}
        </div>{% endif %}
        <div class="navbar-header"><a href="{% url 'index' %}" class="navbar-brand"><img id="logo_with_name" src="{% static 'images/logo_with_name.svg' %}" alt="Logo/Brand" height="40"></a>
          <!-- Mobile Menu--><a href="#" id="menu-icon"></a>
          <!-- Content-->
          <ul class="nav navbar-nav pull-right">
            <li class="nav-item active"><a href="{% url 'index' %}" class="nav-link">Home<span class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a href="{% url 'index' %}#about" class="nav-link">{% trans 'About Us' %}</a></li>
            <li class="nav-item">{% if user.is_authenticated %}<a href="{% url 'profile' %}" class="nav-link">{% trans 'Profile' %}</a></li>
            <li class="nav-item"><a href="{% url 'auth_logout' %}" class="nav-link">{% trans 'Log Out' %}</a>{% else %}<a href="{% url 'customer_registration' %}" class="nav-link">{% trans 'Register' %}</a></li>
            <li class="nav-item"><a href="{% url 'auth_login' %}" class="nav-link">{% trans 'Log In' %}</a>{% endif %}</li>
            <li class="nav-item"><a href="/en/" class="nav-link">EN</a>/<a href="/de/" class="nav-link">DE</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="wrap">
      <div id="main">
        <div class="mainpage">{% if user.is_authenticated %}
          <h1>{% trans "Welcome to your Profile" %}</h1>
          <div class="container-fluid">
            <div class="col-sm-4 well">{% if user.title == 1 %}
              <h4> Dr. {{ user.first_name }} {{ user.last_name }}</h4>{% elif user.title == 2 %}
              <h4> Prof. {{ user.first_name }} {{ user.last_name }}</h4>{% else %}
              <h4> {{ user.first_name }} {{ user.last_name }}</h4>{% endif %}
              {% if user.email %}
              <h6>Email: {{ user.email }}</h6>{% else %}
              <h6>Email:</h6>{% endif %}
              {% if user.phone %}
              <h6>Phone: {{ user.phone }}</h6>{% else %}
              <h6>Phone:</h6>{% endif %}
              {% if user.preferred_contact_type %}
              <h6>{% trans 'Preferred contact type' %}: {{ user.preferred_contact_type }}</h6>{% else %}
              <h6>{% trans 'Preferred contact type' %}:</h6>{% endif %}
              {% if user.address_street %}
              <h6>{% trans 'Street' %}: {{ user.address_street }}</h6>{% else %}
              <h6>{% trans 'Street' %}:</h6>{% endif %}
              {% if user.address_house_number %}
              <h6>{% trans 'House nr.' %}: {{ user.address_house_number }}</h6>{% else %}
              <h6>{% trans 'House nr.' %}:</h6>{% endif %}
              {% if user.address_extra %}
              <h6>{% trans 'Address more info' %}: {{ user.address_extra }}</h6>{% else %}
              <h6>{% trans 'Address more info' %}:</h6>{% endif %}
              {% if user.address_city %}
              <h6>{% trans 'City' %}: {{ user.address_city }}</h6>{% else %}
              <h6>{% trans 'City' %}:</h6>{% endif %}
              {% if user.address_postal_code %}
              <h6>{% trans 'Postal code' %}: {{ user.address_postal_code }}</h6>{% else %}
              <h6>{% trans 'Postal code' %}:</h6>{% endif %}
              {% if user.address_country %}
              <h6>{% trans 'Country' %}: {{ user.address_country }}</h6>{% else %}
              <h6>{% trans 'Country' %}:</h6>{% endif %}<br>{% if account_edit_form %}
              <button type="button" data-toggle="modal" data-target="#editProfile" class="btn btn-default btn-primary">{% trans 'Edit' %}</button>
              <!--Modal-->
              <div id="editProfile" role="dialog" class="modal fade">
                <div role="document" class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" data-dismiss="modal" class="close">&times;</button>
                      <h1 class="modal-title">{% trans 'Edit' %}</h1>
                    </div>
                    <div class="modal-body">
                      <form id="profile_edit_save" method="POST" action="{% url 'profile' %}" enctype="multipart/form-data" class="ajaxForm">{% csrf_token %}
                        <div class="formFields">{{ account_edit_form|crispy }}</div>
                        <button type="submit" class="btn btn-danger active">{% trans 'Save' %}</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>{% endif %}
            </div>
            <div class="col-sm-8 profile-data">
              <div class="row">
                <div class="well order-box">
                  <div class="row">
                    <div class="col-sm-4">
                      <button type="button" data-toggle="modal" data-target="#my_order" class="btn btn-danger active btn-sm">{% trans 'Order Online' %}</button>
                    </div>{% if is_employee %}
                    <div class="col-sm-4 text-sm-right"><a href="{% url 'all_orders' %}" class="btn btn-success active btn-sm">{% trans 'All Orders' %}</a></div>
                    <div class="col-sm-4 text-sm-right"><a href="{% url 'employee_profile' %}" class="btn btn-warning active btn-sm">{% trans 'Employee' %}</a></div>{% else %}
                    <div class="col-sm-8 text-sm-right"><a href="{% url 'employee_profile' %}?create=True" class="btn btn-warning btn-sm">{% trans 'Become a GERO' %}</a></div>{% endif %}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <h4>{% trans 'Open orders' %}</h4>
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>{% trans 'Item' %}</th>
                          <th>{% trans 'Price' %}</th>
                          <th>{% trans 'City' %}</th>
                          <th>{% trans 'Fee' %}</th>
                          <th>{% trans 'Status' %}</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for order in current_orders %}
                        {% if order.status == 0 %}
                        <tr data-href="{% url 'customer_order_process' order_id=order.display_hashid %}" class="clickable-row">
                          <td>{{ order.item }}</td>
                          <td>{{ order.price }}</td>
                          <td>{{ order.address_city }}</td>
                          <td>{{ order.fee }}</td>
                          <td>{% if order.status == 0 %}<img src="{% static 'images/hourglass.svg' %}" height="40px" alt="Waiting for GERO" class="img-responsive">{% elif order.status == 1 %}<img src="{% static 'images/home-delivering.svg' %}" height="40px" alt="Delivery in progress" class="img-responsive">{% elif order.status == 2 %}<img src="{% static 'images/home-delivered.svg' %}" height="40px" alt="Delivery complete" class="img-responsive">{% endif %}</td>
                        </tr>{% else %}
                        <tr data-href="{% url 'customer_order_details' order_id=order.display_hashid %}" class="clickable-row">
                          <td>{{ order.item }}</td>
                          <td>{{ order.price }}</td>
                          <td>{{ order.address_city }}</td>
                          <td>{{ order.fee }}</td>
                          <td>{% if order.status == 0 %}<img src="{% static 'images/hourglass.svg' %}" height="40px" alt="Waiting for GERO" class="img-responsive">{% elif order.status == 1 %}<img src="{% static 'images/home-delivering.svg' %}" height="40px" alt="Delivery in progress" class="img-responsive">{% elif order.status == 2 %}<img src="{% static 'images/home-delivered.svg' %}" height="40px" alt="Delivery complete" class="img-responsive">{% endif %}</td>
                        </tr>{% endif %}
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="well order-box">
                  <div class="col-sm-12">
                    <h4>{% trans 'Closed orders' %}</h4>
                  </div>
                </div>
              </div>{% for order in orders %}
              <div class="row">
                <div class="well order-box">
                  <div class="row">
                    <div class="col-sm-2">
                      <p class="order-details"><a href="{% url 'customer_order_details' order_id=order.display_hashid %}">ID: {{ order.display_hashid }}</a></p>
                    </div>
                    <div class="col-sm-3">
                      <p class="order-details">{{ order.item }}</p>
                    </div>
                    <div class="col-sm-2">
                      <p class="order-details"><a href="#" title="{% trans 'Details' %}" data-toggle="popover" data-content="{% trans 'Price' %}: {{ order.price }}, {% trans 'Fee' %}: {{ order.fee }}">&euro; {{ order.get_total_charge }}</a></p>
                    </div>
                    <div class="col-sm-2">{% if order.status == 0 %}<img src="{% static 'images/hourglass.svg' %}" height="40px" alt="Waiting for GERO" class="img-responsive">{% elif order.status == 1 %}<img src="{% static 'images/home-delivering.svg' %}" height="40px" alt="Delivery in progress" class="img-responsive">{% elif order.status == 2 %}<img src="{% static 'images/home-delivered.svg' %}" height="40px" alt="Delivery complete" class="img-responsive">{% endif %}</div>
                    <div class="col-sm-3">
                      <p class="order-details">{{ order.created|date }}</p>
                    </div>
                  </div>
                </div>
              </div>
              <hr>{% endfor %}
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="container">
                        <ul class="pagination">
                          {% for page_nr in pages %}
                          {% if page_nr == current_page %}
                          <li><a href="{% url 'profile' %}?page={{ page_nr }}" class="active">{{ page_nr }}</a></li>{% else %}
                          <li><a href="{% url 'profile' %}?page={{ page_nr }}">{{ page_nr }}</a></li>{% endif %}
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  </div>
            </div>
          </div>{% else %}
          <div class="container-fluid">
            <div class="col-sm-3">
              <h2>{% trans "You are not logged in !" %}</h2><a role="button" href="{% url 'auth_login' %}" class="btn btn-default btn-primary">{% trans 'Log In' %}</a>
            </div>
            <div class="col-sm-9 text-sm-center">
              <div class="row">
                <div class="well order-box">
                  <div class="row">
                    <div class="col-sm-4">
                      <button type="button" data-toggle="modal" data-target="#my_order" class="btn btn-danger active btn-sm">{% trans 'Order Online' %}</button>
                    </div>{% if is_employee %}
                    <div class="col-sm-4 text-sm-right"><a href="{% url 'all_orders' %}" class="btn btn-success active btn-sm">{% trans 'All Orders' %}</a></div>
                    <div class="col-sm-4 text-sm-right"><a href="{% url 'employee_profile' %}" class="btn btn-warning active btn-sm">{% trans 'Employee' %}</a></div>{% else %}
                    <div class="col-sm-8 text-sm-right"><a href="{% url 'employee_profile' %}?create=True" class="btn btn-warning btn-sm">{% trans 'Become a GERO' %}</a></div>{% endif %}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <h4>{% trans 'Open orders' %}</h4>
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>{% trans 'Item' %}</th>
                          <th>{% trans 'Price' %}</th>
                          <th>{% trans 'City' %}</th>
                          <th>{% trans 'Fee' %}</th>
                          <th>{% trans 'Status' %}</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for order in current_orders %}
                        {% if order.status == 0 %}
                        <tr data-href="{% url 'customer_order_process' order_id=order.display_hashid %}" class="clickable-row">
                          <td>{{ order.item }}</td>
                          <td>{{ order.price }}</td>
                          <td>{{ order.address_city }}</td>
                          <td>{{ order.fee }}</td>
                          <td>{% if order.status == 0 %}<img src="{% static 'images/hourglass.svg' %}" height="40px" alt="Waiting for GERO" class="img-responsive">{% elif order.status == 1 %}<img src="{% static 'images/home-delivering.svg' %}" height="40px" alt="Delivery in progress" class="img-responsive">{% elif order.status == 2 %}<img src="{% static 'images/home-delivered.svg' %}" height="40px" alt="Delivery complete" class="img-responsive">{% endif %}</td>
                        </tr>{% else %}
                        <tr data-href="{% url 'customer_order_details' order_id=order.display_hashid %}" class="clickable-row">
                          <td>{{ order.item }}</td>
                          <td>{{ order.price }}</td>
                          <td>{{ order.address_city }}</td>
                          <td>{{ order.fee }}</td>
                          <td>{% if order.status == 0 %}<img src="{% static 'images/hourglass.svg' %}" height="40px" alt="Waiting for GERO" class="img-responsive">{% elif order.status == 1 %}<img src="{% static 'images/home-delivering.svg' %}" height="40px" alt="Delivery in progress" class="img-responsive">{% elif order.status == 2 %}<img src="{% static 'images/home-delivered.svg' %}" height="40px" alt="Delivery complete" class="img-responsive">{% endif %}</td>
                        </tr>{% endif %}
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="well order-box">
                  <div class="col-sm-12">
                    <h4>{% trans 'Closed orders' %}</h4>
                  </div>
                </div>
              </div>{% for order in orders %}
              <div class="row">
                <div class="well order-box">
                  <div class="row">
                    <div class="col-sm-2">
                      <p class="order-details"><a href="{% url 'customer_order_details' order_id=order.display_hashid %}">ID: {{ order.display_hashid }}</a></p>
                    </div>
                    <div class="col-sm-3">
                      <p class="order-details">{{ order.item }}</p>
                    </div>
                    <div class="col-sm-2">
                      <p class="order-details"><a href="#" title="{% trans 'Details' %}" data-toggle="popover" data-content="{% trans 'Price' %}: {{ order.price }}, {% trans 'Fee' %}: {{ order.fee }}">&euro; {{ order.get_total_charge }}</a></p>
                    </div>
                    <div class="col-sm-2">{% if order.status == 0 %}<img src="{% static 'images/hourglass.svg' %}" height="40px" alt="Waiting for GERO" class="img-responsive">{% elif order.status == 1 %}<img src="{% static 'images/home-delivering.svg' %}" height="40px" alt="Delivery in progress" class="img-responsive">{% elif order.status == 2 %}<img src="{% static 'images/home-delivered.svg' %}" height="40px" alt="Delivery complete" class="img-responsive">{% endif %}</div>
                    <div class="col-sm-3">
                      <p class="order-details">{{ order.created|date }}</p>
                    </div>
                  </div>
                </div>
              </div>
              <hr>{% endfor %}
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="container">
                        <ul class="pagination">
                          {% for page_nr in pages %}
                          {% if page_nr == current_page %}
                          <li><a href="{% url 'profile' %}?page={{ page_nr }}" class="active">{{ page_nr }}</a></li>{% else %}
                          <li><a href="{% url 'profile' %}?page={{ page_nr }}">{{ page_nr }}</a></li>{% endif %}
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  </div>
            </div>
          </div>{% endif %}
        </div>
      </div>
    </div>
    <footer>
      <div id="footer-gradient">
        <div class="footer">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 text-xs-left">
                <div class="row"><a href="/" class="navbar-brand"><img id="logo_with_name" src="{% static 'images/logo_with_name_white.png' %}" alt="Logo/Brand" height="50" class="img-responsive"></a></div>
                <div class="row"><i class="fa fa-envelope">&nbsp;</i><a href="mailto:contact@transgero.com">contact@transgero.com</a><br><br><a href="{% url 'imprint' %}">{% trans 'Imprint' %}</a>&nbsp; | &nbsp;<a href="{% url 'privacy' %}">{% trans 'Privacy' %}</a></div>
              </div>
              <div class="col-sm-6 text-xs-right">
                <div class="row"><a href="https://www.facebook.com/transgero" target="_blank"><img src="{% static 'images/icons/facebook.svg' %}" alt="Facebook" width="32" class="svg social-media"></a><a href="https://www.twitter.com/TransgeroCom" target="_blank"><img src="{% static 'images/icons/twitter.svg' %}" alt="Twitter" width="32" class="svg social-media"></a><a href="https://www.instagram.com/transgero" target="_blank"><img src="{% static 'images/icons/instagram.svg' %}" alt="Instagram" width="32" class="svg social-media"></a></div>
                <div class="row"><br>
                  <p>Copyright © 2016</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <script src="{% static 'js/vendor/tether.min.js' %}"></script>
  <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>{% if not request.user.is_superuser and STAGE == 'default' %}
          <script>
             (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject'] = r;i[r]=i[r]||function(){
             (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
             m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
             ga('create', 'UA-83361244-1', 'auto');
             ga('send', 'pageview');
          </script>{% else %}
          <script>
            ga = function () {
                console.log('ga:', arguments);
            };
            
          </script>{% endif %}
  <!--Modal-->
  <div id="my_order" role="dialog" class="modal fade">
    <div role="document" class="modal-dialog">
      <div class="modal-content">
        <form id="order_save" method="POST" action="{% url 'order_save' %}" enctype="multipart/form-data" class="ajaxForm">{% csrf_token %}
          <div class="modal-header">
            <button type="button" data-dismiss="modal" class="close">&times;</button>
            <h1 class="modal-title">{% trans 'Order' %}</h1>
          </div>
          <div class="modal-body">
            <div class="formFields">{{ order_form|crispy }}</div>
          </div>
          <div class="modal-footer">
            <button type="submit" id="order__delivery_form" class="btn btn-success active pull-right">{% trans 'Pay on Delivery' %}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
    });
    $(document).ready(function ($) {
        $(".clickable-row").click(function () {
            window.document.location = $(this).data("href");
        });
    });
  </script>
  <script>$('.alert-hide').delay(5000).fadeOut(3000);</script>
</html>
