templates/frontend/home.html
<!DOCTYPE html>{% load staticfiles i18n cloudinary crispy_forms_tags crispy_forms_field humanize %}
{% get_current_language as LANGUAGE_CODE %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>{% cloudinary_includes %}
{% cloudinary_js_config %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="google-site-verification" content="K0n1HKCAoe4RBEcyo0jVEUPDiqzliwDNkT0kNvq6bek"><!--[if lte IE 8]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js">
      <noscript><strong>Warning!</strong>Your browser does not support HTML5 so some elements on this page are simulated using JScript. Unfortunately your browser has JScript disabled. Please enable it in order to display this page.</noscript>
    </script><![endif]-->
    <!--[if lte IE 6]><meta http-equiv="imagetoolbar" content="no" /><![endif]-->
    <title>Transgero - Home</title>
    <meta name="robots" content="index, follow">
    <meta name="description" content="{% trans 'Delivery of anything anywhere at any time. Order from your neighborhood and it will at your doorstep at no time.' %} ">
    <link rel="apple-touch-icon" href="{% static 'images/logo.png' %}">
    <link rel="shortcut icon" href="{% static 'images/logo_pVn_icon.ico' %}" type="image/x-icon">
    <!-- Fonts-->
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
    <!-- CSS-->
    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/morphext.css' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <!-- JS-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'js/vendor/parallax.js' %}"></script>
    <!--script(src="{% static 'js/vendor/morphext.min.js' %}")-->
    <script src="{% static 'js/vendor/typed.min.js' %}"></script>
    <script src="{% static 'js/src/main.js' %}"></script>
  </head>
  <body>
    <nav class="navbar navbar-fixed-top">
      <div class="container-fluid">{% if success %}
        <div role="alert" class="alert alert-success alert-dismissable alert-hide">
          <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times</span></button>{{ success }}
        </div>{% endif %}
        {% if error %}
        <div role="alert" class="alert alert-danger alert-dismissable alert-hide">
          <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times</span></button>{{ error }}
        </div>{% endif %}
        <div class="navbar-header"><a href="{% url 'index' %}" class="navbar-brand"><img id="logo_with_name" src="{% static 'images/logo_with_name.svg' %}" alt="Logo/Brand" height="40"></a>
          <!-- Mobile Menu--><a href="#" id="menu-icon"></a>
          <!-- Content-->
          <ul class="nav navbar-nav pull-right">
            <li class="nav-item active"><a href="{% url 'index' %}" class="nav-link">Home<span class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a href="{% url 'index' %}#about" class="nav-link">{% trans 'About Us' %}</a></li>
            <li class="nav-item">{% if user.is_authenticated %}<a href="{% url 'profile' %}" class="nav-link">{% trans 'Profile' %}</a></li>
            <li class="nav-item"><a href="{% url 'auth_logout' %}" class="nav-link">{% trans 'Log Out' %}</a>{% else %}<a href="{% url 'customer_registration' %}" class="nav-link">{% trans 'Register' %}</a></li>
            <li class="nav-item"><a href="{% url 'auth_login' %}" class="nav-link">{% trans 'Log In' %}</a>{% endif %}</li>
            <li class="nav-item"><a href="/en/" class="nav-link">EN</a>/<a href="/de/" class="nav-link">DE</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="wrap">
      <div id="main">
        <div class="mainpage">
          <div class="claim vertical-align">
            <div class="claim__inner">
              <div>
                <div class="row">
                  <div class="highlight-box__inverse highlight-box__search">
                    <h1>
                      {% trans 'Delivery' %} <br>
                      {% if LANGUAGE_CODE == 'de' %}
                      <font style="color:maroon"><b><span class="de-typewriter"></span></b></font>
                      {% else %}
                      <font style="color:maroon"><b><span class="typewriter"></span></b></font>
                      {% endif %}
                      <br>{% trans 'to your doorstep.' %}
                    </h1>
                    <button type="button" data-toggle="modal" data-target="#my_order" class="btn btn-danger active btn-sm">{% trans 'Order Online' %}</button>
                  </div>
                </div>
              </div>
            </div>
            <!--Modal-->
            <div id="my_order" role="dialog" class="modal fade">
              <div role="document" class="modal-dialog">
                <div class="modal-content">
                  <form id="order_save" method="POST" action="{% url 'order_save' %}" enctype="multipart/form-data" class="ajaxForm">{% csrf_token %}
                    <div class="modal-header">
                      <button type="button" data-dismiss="modal" class="close">&times;</button>
                      <h1 class="modal-title">{% trans 'Order' %}</h1>
                    </div>
                    <div class="modal-body">
                      <div class="formFields">{{ order_form|crispy }}</div>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" id="order__delivery_form" class="btn btn-success active pull-right">{% trans 'Pay on Delivery' %}</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="page">
          <article id="details">
            <div class="details">
              <div class="container home">
                <div class="row">
                  <div class="col-sm-6 text-sm-center">
                    <div class="well">
                      <div class="row text-sm-center">
                        <h2>{% trans 'Anything from your neighborhood' %}</h2>
                      </div>
                      <div class="row text-sm-left">
                        <ul style="list-style-type:disc">
                          <li>{% trans 'Your favorite restaurant' %}</li>
                          <li>{% trans 'Supermarkets' %}</li>
                          <li>{% trans 'Books' %}</li>
                          <li>{% trans 'Kiosk' %}</li>
                          <li>{% trans 'Cosmetic shop' %}</li>
                          <li>{% trans 'Flower shop' %}</li>
                          <li>{% trans 'Bakery' %}</li>
                          <li>{% trans 'Electronic equipments shop' %}</li>
                          <li>{% trans 'Auto store' %}</li>
                          <li>{% trans 'Household items shop' %}</li>
                          <li>{% trans 'Food products' %}</li>
                          <li>{% trans 'Personal delivery' %}</li>
                        </ul>
                      </div>
                      <div class="row"></div>
                    </div>
                  </div>
                  <div class="col-sm-6 text-sm-center">
                    <div class="row text-sm-center">
                      <div class="well">
                        <p>{% trans 'Place an order. Anything you' %} &nbsp;<a href="#my_order" data-toggle="modal"><span class="highlight">{% trans 'wish' %}</span></a>.</p>
                        <p>{% trans 'Busy in a meeting.' %} &nbsp;<a data-toggle="modal" href="#my_order"><span class="highlight">{% trans 'Order online' %}</span></a>.</p>
                        <p>{% trans "Save your details. Just" %} &nbsp;<a href="{% url 'customer_registration' %}"><span class="highlight">{% trans 'Register' %}</span></a>.</p>
                      </div>
                    </div>
                    <div class="row text-sm-center">
                      <h2>{% trans 'Delivery in just few minutes !' %}</h2><img id="deliveryImage" src="{% static 'images/logo.svg' %}" alt="Logo/Brand" height="125">
                    </div>
                    <div class="row"><br><a href="{% url 'all_orders' %}" class="btn btn-success active btn-sm">{% trans 'All Orders' %}</a></div>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <hr>
          <article id="about">
            <div class="about-us">
              <div class="container home">
                <div class="row">
                  <h2>{% trans 'About us' %}</h2>
                  <h4>{% trans 'A community driven service' %}</h4>
                  <p>{% trans 'For anyone who needs something urgent can place an order. At the same time if someone wants to earn some money can become a GERO and grab this opportunity to negotiate and complete the delivery.' %}</p>
                  <h4>{% trans 'Bid' %}</h4>
                  <p>{% trans 'Customer: Mention how much you want to pay to get something delivered.' %}</p>
                  <h4>{% trans 'Negotiate' %}</h4>
                  <p>{% trans 'Gero: Negotiate with the customer to pay more or pay even less.' %}</p>
                  <h4>{% trans 'Choose your Gero' %}</h4>
                  <p>{% trans 'Customer: Choose a Gero whichever you find best.' %}</p>
                  <h4>{% trans 'Delivery' %}</h4>
                  <p>{% trans 'Gero completes the order and delivery and earns money.' %}</p><br>
                </div>
                <div class="row">
                  <div class="row">
                    <div class="col-sm-4">
                      <div id="team_slide" class="hover-indicator">
                        <h2>{% trans 'Know the team' %}</h2>
                      </div>
                    </div>
                    <div class="col-sm-8 text-sm-center">
                      <p class="tagline">{% trans 'TRANSGERO is the simplest way to get anything from your city at your doorstep.' %}</p>
                    </div>
                  </div>
                  <div id="team_panel" class="row">
                    <div class="profiles">
                      <div class="row">
                        <div class="col-md-6 text-xs-center profile"><img src="{% static 'images/shubham.jpg' %}" height="100px" class="img-circle"></div>
                        <div class="col-md-6 text-xs-center profile"><img src="{% static 'images/debanjan.jpg' %}" height="100px" class="img-circle"></div>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-4">
                      <div id="cities" class="hover-indicator">
                        <h2>{% trans 'Find your city' %}</h2>
                      </div>
                    </div>
                    <div class="col-sm-8">
                      <form id="find-city" method="POST" action="{% url 'find_city' %}" enctype="multipart/form-data" class="cityForm form-inline">{% csrf_token %}
                        <div class="form-group">{{ find_city_form.city.errors }}
                          <input type="text" placeholder="{{ find_city_form.city.label }}" id="id_city" name="city" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-default">{% trans 'Check' %}</button>&nbsp;<img id="city-success" src="{% static 'images/success.svg' %}" height="20px" class="city-status"><img id="city-error" src="{% static 'images/error.svg' %}" height="20px" class="city-status">
                      </form>
                    </div>
                  </div>
                  <div id="all_cities" class="row">{% for place in places %}
                    <div class="col-sm-3 text-sm-center">
                      <p class="places">{{ place.user__address_city }}, {{ place.user__address_country }}</p>
                    </div>{% if forloop.counter|divisibleby:4 %}
                  </div>
                  <div class="row">
                    {% endif %}
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </article>
          <hr>
          <article id="contact">
            <div class="contact">
              <div class="container">
                <div class="row">
                  <div class="col-sm-6 gero-claim"></div>
                  <div class="col-sm-6 gero-form">
                    <div class="row text-sm-center">
                      <h2>{% trans 'Become a GERO - become a sender' %}</h2><br>
                    </div>
                    <div class="row gero-form">
                      <h4>{% trans 'Earn money' %}</h4>
                      <p>{% trans 'Deliver stuffs to the people and get paid.' %}</p>
                      <h4>{% trans 'Meet new people' %}</h4>
                      <p>{% trans 'Know more people from your city by providing them what they need.' %}</p>
                      <h4>{% trans 'Work from home' %}</h4>
                      <p>{% trans 'No need to move much. Just deliver to your neighbours.' %}</p>
                      <h4>{% trans 'Flexible working hours' %}</h4>
                      <p>{% trans 'Choose your own time for your workout. Deliver and get warmed up.' %}</p><a href="{% url 'employee_registration' %}" class="btn btn-default btn-primary">Gero Registration</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
    <footer>
      <div id="footer-gradient">
        <div class="footer">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 text-xs-left">
                <div class="row"><a href="/" class="navbar-brand"><img id="logo_with_name" src="{% static 'images/logo_with_name_white.png' %}" alt="Logo/Brand" height="50" class="img-responsive"></a></div>
                <div class="row"><i class="fa fa-envelope">&nbsp;</i><a href="mailto:contact@transgero.com">contact@transgero.com</a><br><br><a href="{% url 'imprint' %}">{% trans 'Imprint' %}</a>&nbsp; | &nbsp;<a href="{% url 'privacy' %}">{% trans 'Privacy' %}</a></div>
              </div>
              <div class="col-sm-6 text-xs-right">
                <div class="row"><a href="https://www.facebook.com/transgero" target="_blank"><img src="{% static 'images/icons/facebook.svg' %}" alt="Facebook" width="32" class="svg social-media"></a><a href="https://www.twitter.com/TransgeroCom" target="_blank"><img src="{% static 'images/icons/twitter.svg' %}" alt="Twitter" width="32" class="svg social-media"></a><a href="https://www.instagram.com/transgero" target="_blank"><img src="{% static 'images/icons/instagram.svg' %}" alt="Instagram" width="32" class="svg social-media"></a></div>
                <div class="row"><br>
                  <p>Copyright © 2016</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <script src="{% static 'js/vendor/tether.min.js' %}"></script>
  <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>{% if not request.user.is_superuser and STAGE == 'default' %}
          <script>
             (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject'] = r;i[r]=i[r]||function(){
             (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
             m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
             ga('create', 'UA-83361244-1', 'auto');
             ga('send', 'pageview');
          </script>{% else %}
          <script>
            ga = function () {
                console.log('ga:', arguments);
            };
            
          </script>{% endif %}
  <!--Flipping image icons on home page-->
  <script>
    var images = ["{% static 'images/logo.svg' %}","{% static 'images/delivered.svg' %}"];
    var i = 0;
    var renew = setInterval(function(){
    if(images.length == i){
        i = 0;
    }
    else {
        document.getElementById("deliveryImage").src = images[i];
        i++;
    }
    },2000);
    
  </script>
  <script>
    // Sliding window for team profile
    $(document).ready(function () {
        $("#team_slide").click(function () {
            $("#team_panel").slideToggle("slow");
        });
    });
    // Sliding window for find_city
    $(document).ready(function () {
        $("#cities").click(function () {
            $("#all_cities").slideToggle("slow");
        });
    });
    
    // Submission of find city form
    $(function () {
        //hang on event of form with id=myform
        $("#find-city").submit(function (e) {
    
            var result_success = $('#city-success');
            var result_error = $('#city-error');
    
            //prevent Default functionality
            e.preventDefault();
    
            //get the action-url of the form
            var actionurl = e.currentTarget.action;
    
            //do your own request an handle the results
            $.ajax({
                url: actionurl,
                type: 'post',
                dataType: 'json',
                data: $("#find-city").serialize(),
                success: function (response, status, jqXHR) {
                    if (response.success == true) {
                        result_success.fadeIn("slow");
                        result_success.delay(5000).fadeOut(3000);
                    }
                    else {
                        result_error.fadeIn("slow");
                        result_error.delay(5000).fadeOut(3000);
                    }
                    console.log(response);
                }
            });
    
        });
    
    });
  </script>
  <script>$('.alert-hide').delay(5000).fadeOut(3000);</script>
</html>

templates/frontend/home.jade
extends ./../layout.jade

block description
    meta(name="description" content="{% trans 'Delivery of anything anywhere at any time. Order from your neighborhood and it will at your doorstep at no time.' %} ")

block title
    title Transgero - Home
block content
    .mainpage
        .claim.vertical-align
            .claim__inner
                div
                    .row
                        .highlight-box__inverse.highlight-box__search
                            h1
                                | {% trans 'Delivery' %} <br>
                                | {% if LANGUAGE_CODE == 'de' %}
                                | <font style="color:maroon"><b><span class="de-typewriter"></span></b></font>
                                | {% else %}
                                | <font style="color:maroon"><b><span class="typewriter"></span></b></font>
                                | {% endif %}
                                | <br>{% trans 'to your doorstep.' %}
                            button.btn.btn-danger.active.btn-sm(type="button" data-toggle="modal" data-target="#my_order") {% trans 'Order Online' %}
            //Modal
            .modal.fade(id="my_order" role="dialog")
                .modal-dialog(role='document')
                    .modal-content
                        form.ajaxForm(id="order_save" method="POST" action="{% url 'order_save' %}" enctype="multipart/form-data")
                            | {% csrf_token %}
                            .modal-header
                                button.close(type="button" data-dismiss="modal") &times;
                                h1.modal-title {% trans 'Order' %}
                            .modal-body
                                .formFields {{ order_form|crispy }}
                            .modal-footer
                                button.btn.btn-success.active.pull-right(type="submit" id="order__delivery_form") {% trans 'Pay on Delivery' %}
    .page
        article#details
            .details
                .container.home
                    .row
                        .col-sm-6.text-sm-center
                            .well
                                .row.text-sm-center
                                    h2 {% trans 'Anything from your neighborhood' %}
                                .row.text-sm-left
                                    ul(style="list-style-type:disc")
                                        li {% trans 'Your favorite restaurant' %}
                                        li {% trans 'Supermarkets' %}
                                        li {% trans 'Books' %}
                                        li {% trans 'Kiosk' %}
                                        li {% trans 'Cosmetic shop' %}
                                        li {% trans 'Flower shop' %}
                                        li {% trans 'Bakery' %}
                                        li {% trans 'Electronic equipments shop' %}
                                        li {% trans 'Auto store' %}
                                        li {% trans 'Household items shop' %}
                                        li {% trans 'Food products' %}
                                        li {% trans 'Personal delivery' %}
                                .row
                        .col-sm-6.text-sm-center
                            .row.text-sm-center
                                .well
                                    p {% trans 'Place an order. Anything you' %} &nbsp;
                                        a(href="#my_order" data-toggle="modal")
                                            span.highlight {% trans 'wish' %}
                                        |.
                                    p {% trans 'Busy in a meeting.' %} &nbsp;
                                        a(data-toggle="modal" href="#my_order")
                                            span.highlight {% trans 'Order online' %}
                                        |.
                                    p {% trans "Save your details. Just" %} &nbsp;
                                        a(href="{% url 'customer_registration' %}")
                                            span.highlight {% trans 'Register' %}
                                        | .
                            .row.text-sm-center
                                h2 {% trans 'Delivery in just few minutes !' %}
                                img(id="deliveryImage" src="{% static 'images/logo.svg' %}" alt="Logo/Brand" height=125)
                            .row
                                br
                                a.btn.btn-success.active.btn-sm(href="{% url 'all_orders' %}") {% trans 'All Orders' %}


        hr

        article#about
            .about-us
                .container.home
                    .row
                        h2 {% trans 'About us' %}
                        h4 {% trans 'A community driven service' %}
                        p {% trans 'For anyone who needs something urgent can place an order. At the same time if someone wants to earn some money can become a GERO and grab this opportunity to negotiate and complete the delivery.' %}
                        h4 {% trans 'Bid' %}
                        p {% trans 'Customer: Mention how much you want to pay to get something delivered.' %}
                        h4 {% trans 'Negotiate' %}
                        p {% trans 'Gero: Negotiate with the customer to pay more or pay even less.' %}
                        h4 {% trans 'Choose your Gero' %}
                        p {% trans 'Customer: Choose a Gero whichever you find best.' %}
                        h4 {% trans 'Delivery' %}
                        p {% trans 'Gero completes the order and delivery and earns money.' %}
                        br
                    .row
                        .row
                            .col-sm-4
                                div(id="team_slide").hover-indicator
                                    h2 {% trans 'Know the team' %}
                            .col-sm-8.text-sm-center
                                p.tagline {% trans 'TRANSGERO is the simplest way to get anything from your city at your doorstep.' %}
                        .row(id="team_panel")
                            .profiles
                                .row
                                    .col-md-6.text-xs-center.profile
                                        img.img-circle(src="{% static 'images/shubham.jpg' %}" height="100px")
                                    .col-md-6.text-xs-center.profile
                                        img.img-circle(src="{% static 'images/debanjan.jpg' %}" height="100px")
                        hr
                        .row
                            .col-sm-4
                                div(id="cities").hover-indicator
                                    h2 {% trans 'Find your city' %}
                            .col-sm-8
                                form.cityForm.form-inline(id="find-city" method="POST" action="{% url 'find_city' %}" enctype="multipart/form-data")
                                    | {% csrf_token %}
                                    .form-group
                                        | {{ find_city_form.city.errors }}
                                        input.form-control(type='text', placeholder="{{ find_city_form.city.label }}" id='id_city' name='city')
                                    button.btn.btn-default(type="submit") {% trans 'Check' %}
                                    | &nbsp;
                                    img.city-status(id='city-success' src="{% static 'images/success.svg' %}" height="20px")
                                    img.city-status(id='city-error' src="{% static 'images/error.svg' %}" height="20px")
                        .row(id="all_cities")
                            | {% for place in places %}
                            .col-sm-3.text-sm-center
                                p.places {{ place.user__address_city }}, {{ place.user__address_country }}
                            | {% if forloop.counter|divisibleby:4 %}
                        .row
                            | {% endif %}
                            | {% endfor %}
        hr

        article#contact
            .contact
                .container
                    .row
                        .col-sm-6.gero-claim

                        .col-sm-6.gero-form
                            .row.text-sm-center
                                h2 {% trans 'Become a GERO - become a sender' %}
                                br
                            .row.gero-form
                                h4 {% trans 'Earn money' %}
                                p {% trans 'Deliver stuffs to the people and get paid.' %}
                                h4 {% trans 'Meet new people' %}
                                p {% trans 'Know more people from your city by providing them what they need.' %}
                                h4 {% trans 'Work from home' %}
                                p {% trans 'No need to move much. Just deliver to your neighbours.' %}
                                h4 {% trans 'Flexible working hours' %}
                                p {% trans 'Choose your own time for your workout. Deliver and get warmed up.' %}
                                a.btn.btn-default.btn-primary(href="{% url 'employee_registration' %}") Gero Registration



block extra_js
    //Flipping image icons on home page
    script.
        var images = ["{% static 'images/logo.svg' %}","{% static 'images/delivered.svg' %}"];
        var i = 0;
        var renew = setInterval(function(){
        if(images.length == i){
            i = 0;
        }
        else {
            document.getElementById("deliveryImage").src = images[i];
            i++;
        }
        },2000);

    script.
        // Sliding window for team profile
        $(document).ready(function () {
            $("#team_slide").click(function () {
                $("#team_panel").slideToggle("slow");
            });
        });
        // Sliding window for find_city
        $(document).ready(function () {
            $("#cities").click(function () {
                $("#all_cities").slideToggle("slow");
            });
        });

        // Submission of find city form
        $(function () {
            //hang on event of form with id=myform
            $("#find-city").submit(function (e) {

                var result_success = $('#city-success');
                var result_error = $('#city-error');

                //prevent Default functionality
                e.preventDefault();

                //get the action-url of the form
                var actionurl = e.currentTarget.action;

                //do your own request an handle the results
                $.ajax({
                    url: actionurl,
                    type: 'post',
                    dataType: 'json',
                    data: $("#find-city").serialize(),
                    success: function (response, status, jqXHR) {
                        if (response.success == true) {
                            result_success.fadeIn("slow");
                            result_success.delay(5000).fadeOut(3000);
                        }
                        else {
                            result_error.fadeIn("slow");
                            result_error.delay(5000).fadeOut(3000);
                        }
                        console.log(response);
                    }
                });

            });

        });
