templates/layout/footer.jade
footer
    div(id='footer-gradient')
        .footer
            .container
                .row
                    .col-sm-6.text-xs-left
                        .row
                            a.navbar-brand(href="/")
                                img.img-responsive(id="logo_with_name" src="{% static 'images/logo_with_name_white.png' %}" alt="Logo/Brand" height=50)
                        .row
                            i.fa.fa-envelope &nbsp;
                            a(href="mailto:contact@transgero.com") contact@transgero.com
                            br
                            br
                            a(href="{% url 'imprint' %}") {% trans 'Imprint' %}
                            | &nbsp; | &nbsp;
                            a(href="{% url 'privacy' %}") {% trans 'Privacy' %}


                    .col-sm-6.text-xs-right
                        .row
                            a(href="https://www.facebook.com/transgero" target="_blank")
                                img.svg.social-media(
                                src="{% static 'images/icons/facebook.svg' %}"
                                alt="Facebook"
                                width="32"
                                )
                            a(href="https://www.twitter.com/TransgeroCom" target="_blank")
                                img.svg.social-media(
                                src="{% static 'images/icons/twitter.svg' %}"
                                alt="Twitter"
                                width="32"
                                )
                            a(href="https://www.instagram.com/transgero" target="_blank")
                                img.svg.social-media(
                                src="{% static 'images/icons/instagram.svg' %}"
                                alt="Instagram"
                                width="32"
                                )
                        .row
                            br
                            p Copyright © 2016

templates/layout/footer.html

<footer>
  <div id="footer-gradient">
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 text-xs-left">
            <div class="row"><a href="/" class="navbar-brand"><img id="logo_with_name" src="{% static 'images/logo_with_name_white.png' %}" alt="Logo/Brand" height="50" class="img-responsive"/></a></div>
            <div class="row"><i class="fa fa-envelope">&nbsp;</i><a href="mailto:contact@transgero.com">contact@transgero.com</a><br/><br/><a href="{% url 'imprint' %}">{% trans 'Imprint' %}</a>&nbsp; | &nbsp;<a href="{% url 'privacy' %}">{% trans 'Privacy' %}</a></div>
          </div>
          <div class="col-sm-6 text-xs-right">
            <div class="row"><a href="https://www.facebook.com/transgero" target="_blank"><img src="{% static 'images/icons/facebook.svg' %}" alt="Facebook" width="32" class="svg social-media"/></a><a href="https://www.twitter.com/TransgeroCom" target="_blank"><img src="{% static 'images/icons/twitter.svg' %}" alt="Twitter" width="32" class="svg social-media"/></a><a href="https://www.instagram.com/transgero" target="_blank"><img src="{% static 'images/icons/instagram.svg' %}" alt="Instagram" width="32" class="svg social-media"/></a></div>
            <div class="row"><br/>
              <p>Copyright © 2016</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
