templates/layout/header.html

<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">{% if success %}
    <div role="alert" class="alert alert-success alert-dismissable alert-hide">
      <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times</span></button>{{ success }}
    </div>{% endif %}
    {% if error %}
    <div role="alert" class="alert alert-danger alert-dismissable alert-hide">
      <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true">&times</span></button>{{ error }}
    </div>{% endif %}
    <div class="navbar-header"><a href="{% url 'index' %}" class="navbar-brand"><img id="logo_with_name" src="{% static 'images/logo_with_name.svg' %}" alt="Logo/Brand" height="40"/></a>
      <!-- Mobile Menu--><a href="#" id="menu-icon"></a>
      <!-- Content-->
      <ul class="nav navbar-nav pull-right">
        <li class="nav-item active"><a href="{% url 'index' %}" class="nav-link">Home<span class="sr-only">(current)</span></a></li>
        <li class="nav-item"><a href="{% url 'index' %}#about" class="nav-link">{% trans 'About Us' %}</a></li>
        <li class="nav-item">{% if user.is_authenticated %}<a href="{% url 'profile' %}" class="nav-link">{% trans 'Profile' %}</a></li>
        <li class="nav-item"><a href="{% url 'auth_logout' %}" class="nav-link">{% trans 'Log Out' %}</a>{% else %}<a href="{% url 'customer_registration' %}" class="nav-link">{% trans 'Register' %}</a></li>
        <li class="nav-item"><a href="{% url 'auth_login' %}" class="nav-link">{% trans 'Log In' %}</a>{% endif %}</li>
        <li class="nav-item"><a href="/en/" class="nav-link">EN</a>/<a href="/de/" class="nav-link">DE</a></li>
      </ul>
    </div>
  </div>
</nav>

templates/layout/header.jade
nav.navbar.navbar-fixed-top
    .container-fluid
        | {% if success %}
        div.alert.alert-success.alert-dismissable.alert-hide(role="alert")
            button.close(type="button" data-dismiss="alert" aria-label="Close")
                span(aria-hidden="true") &times
            | {{ success }}
        | {% endif %}
        | {% if error %}
        div.alert.alert-danger.alert-dismissable.alert-hide(role="alert")
            button.close(type="button" data-dismiss="alert" aria-label="Close")
                span(aria-hidden="true") &times
            | {{ error }}
        | {% endif %}
        .navbar-header
            a.navbar-brand(href="{% url 'index' %}")
                img(id="logo_with_name" src="{% static 'images/logo_with_name.svg' %}" alt="Logo/Brand" height=40)
            // Mobile Menu
            a(href="#" id="menu-icon")
            // Content
            ul.nav.navbar-nav.pull-right
                li.nav-item.active
                    a.nav-link(href="{% url 'index' %}")
                        | Home
                        span.sr-only (current)
                li.nav-item
                    a.nav-link(href="{% url 'index' %}#about") {% trans 'About Us' %}
                li.nav-item
                    | {% if user.is_authenticated %}
                    a.nav-link(href="{% url 'profile' %}") {% trans 'Profile' %}
                li.nav-item
                    a.nav-link(href="{% url 'auth_logout' %}") {% trans 'Log Out' %}
                    | {% else %}
                    a.nav-link(href="{% url 'customer_registration' %}") {% trans 'Register' %}
                li.nav-item
                    a.nav-link(href="{% url 'auth_login' %}") {% trans 'Log In' %}
                    | {% endif %}
                li.nav-item
                    a.nav-link(href="/en/") EN
                    |/
                    a.nav-link(href="/de/") DE
